.footer {
    color: white;

    .info,
    .copyright {
        p {
            font-size: 12px;
        }
    }

    .info {
        background-color: $lightRed;

        h5 {
            margin-block-end: 0.5rem;
            font-weight: normal;
        }

        .logo {
            display: none;
        }
        .contacts {
            svg {
                margin-inline-end: 0.5rem;
            }
        }
        .events {
            p {
                line-height: 2.2rem;
            }
        }
        .mission {
            p {
                line-height: 1.2rem;
            }
        }

        &__content {
            @include large('up') {
                display: flex;

                .logo {
                    display: block;
                }

                .logo,
                .contacts,
                .mission,
                .events {
                    width: calc(100% / 4);
                }
            }
        }
    }

    .copyright {
        background-color: $darkRed;
        font-size: 13px;
    }
}
