$hero-image: url('../../assets/hero.png');
$left-rule: 32px;

.hero {
    background-image: $hero-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .h1 {
        padding: 32% $left-rule 0;

        color: white;
        font-size: 12vw;
        font-weight: bold;
    }
}

.footnote {
    margin: 15px $left-rule;
    font-size: 20px;
}
