.navbar {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 100px;
        cursor: pointer;
    }

    svg {
        cursor: pointer;
    }

    // @include medium('up') {
    //     height: 100px;
    //     flex-wrap: nowrap;

    //     img {
    //         width: 150px;
    //     }
    // }

    // @include large('up') {
    //     height: 150px;

    //     img {
    //         width: 200px;
    //     }
    // }
}
