.navbar {
    width: 100%;
    height: 80px;

    &__content {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 100px;
            display: block;

            img {
                width: 100%;
            }

            @include medium('up') {
                width: 150px;
            }
        }

        svg {
            cursor: pointer;
        }
    }

    @include small('up') {
        height: 100px;
    }

    @include medium('up') {
        height: 150px;
    }
}
