.news-container {
    margin: 0 auto;

    .head {
        margin: 1rem 0;

        span {
            color: $lightRed;
            margin-right: 20%;
            font-size: 22px;
            font-weight: 700;

            @include small('up') {
                margin-right: 50px;
            }
        }

        a {
            color: black;
            text-decoration: underline;
        }
    }
    .content {
        display: flex;
    }

    .news-item {
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        img {
            width: 100%;
        }

        .title {
            color: $lightRed;
            max-width: 220px;
            font-weight: bold;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .description {
            max-width: 310px;
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
            display: none;
        }

        @include small('up') {
            width: calc(100% / 2);

            &:nth-of-type(2) {
                display: flex;
            }
        }

        @include medium('up') {
            width: calc(100% / 3);

            &:nth-of-type(3) {
                display: flex;
            }
        }
    }
}
