.sc-container {
    font-size: 24px;
    color: white;
    background-color: $lightRed;
    margin: 50px 0;

    .sc-paragraphs {
        padding: 20px;
        padding-bottom: 0;
        margin-bottom: 0;

        @include small('up') {
            padding: 20px 20% 0;
        }

        @include medium('up') {
            padding: 20px 33% 0;
        }
    }

    .sc-hero {
        margin-top: 15px;
        line-height: 0.68;
        text-align: center;
        font-size: 40px;

        @include small('up') {
            font-size: 60px;
        }

        @include medium('up') {
            font-size: 80px;
        }
    }
}
