.tc-container {
    width: 0 auto;
    font-size: 17px;
    margin: 0 5%;

    @include small('up') {
        margin: 0 20%;
        font-size: 18.5px;
    }

    @include medium('up') {
        margin: 0 25%;
        font-size: 20px;
    }

    .tc-title {
        color: $lightRed;
        text-align: center;
        font-size: 22px;

        @include small('up') {
            font-size: 29px;
        }

        @include medium('up') {
            font-size: 36px;
        }
    }

    .tc-paragraph {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
