.upcoming-events {
    text-align: center;
    margin: 1rem auto 6rem auto;

    .title {
        margin: 1rem 0;

        h4 {
            font-weight: 700;
            color: $lightRed;
            padding: 0.5rem;
            font-size: 22px;
        }
        a {
            color: black;
            text-decoration: underline;
        }
    }

    .events {
        .event {
            margin: 1.3rem;

            .image {
                img {
                    width: 100%;
                }
            }

            .event-title {
                font-weight: 700;
                color: $lightRed;
                padding: 0.5rem;
                font-size: 20px;
            }
            .event-date {
                display: block;
                padding: 0.5rem;
                font-size: 14px;
            }
            .event-details {
                text-align: left;
                font-size: 14px;
            }
            .event-more {
                color: black;
                text-decoration: underline;
                font-size: 14px;
                display: block;
                padding: 0.5rem;
            }
        }

        @include medium('up') {
            display: flex;

            .event {
                width: calc(100% / 3);
            }
        }

        @include medium('down') {
            .event {
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    display: none;
                }
            }
        }
    }
    @include small('up') {
        width: 85%;
    }
}
