.container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    @include small('up') {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @include medium('up') {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }

    @include large('up') {
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }
}
