//Very Small screen - Mobile phones
$screen-xs: 375px;

//Small screen - Mobile phones
$screen-sm: 600px;

//Medium sized screen - Tablets
$screen-md: 960px;

//Large screen - Laptops
$screen-lg: 1280px;

//Very large screen - Desktops
$screen-xl: 1440px;
